.card {
  width: 410px;
  height: 255px;
  padding: 18px;
  border-radius: 22px;
  background: #ffffff;
position: relative;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow:
    0 5px 30px rgba(0, 0, 0, 0.05),
    inset 0 1px 0 rgba(255,255,255,0.6);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}



/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: linear-gradient(135deg, #d5d1fa, #ecf5fd);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* чтобы флаг не вылезал */
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 4rem; /* увеличиваем, чтобы занимал весь круг */
  line-height: 1;
}



.title {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 600;
  color: #0f172a;
}

.currency {
  font-size: 0.75rem;
  color: #64748b;
}

/* DELETE */
.deleteBtn {
  width: 30px;
  height: 30px;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: #64748b;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
position: absolute;
font-size: 1em;
}


.deleteBtn:hover {
  background: #d6d6d6;
  color: #343b46;
}

/* BALANCE */
.balanceBlock {
  margin-top: 10px;
}

.balanceLabel {
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  color: #64748b;
  text-transform: uppercase;
}

.balance {
  display: flex;
  align-items: center;
  gap: 0; /* убираем любой gap */
  font-size: 1.9rem;
  font-weight: 700;
  color: #111111;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}

.minus {
  margin-right: 0; /* точно без пробела */
}

.currencyIcon {
  font-size: 1.2rem;
  color: #4310b9;
  margin-right: 0; /* прилипает к числу */
}

.amount {
  display: inline; /* чтобы число шло сразу после валюты */
}
.svg-inline--fa {
  box-sizing: content-box;
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  width: var(--fa-width, 1.25em);
}


.currencyIcon {
  font-size: 1.6rem;
  color: #111111;
  font-weight: 700;
  gap: 0;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.deposit,
.withdraw,
.transferBtn {
  flex: 1;
  padding: 12px;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}

.deposit {
  position: relative;
  border: none;
  color: #fff;
  padding: 12px 10px;
  border-radius: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
text-align: center;
display: flex;
justify-content: center;
  background-color:  #2d5dfd;
  max-width: 130px;
  gap: 6px;
  align-items: center;
  
}

.deposit svg{
  font-size: 10px;
}

.deposit::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: linear-gradient(135deg, #3b79d6, #3700ff); */

  background-color: #00449c;
  opacity: 0;
  transition: opacity 0.15s ease-in;
  border-radius: 40px;
  z-index: -1; /* псевдоэлемент под кнопкой */

}

.deposit:hover::before {
  opacity: 1;
}





/* SECONDARY */
.withdraw {
  display: flex;
  position: relative;
  border: none;
  color: #00439b;
  padding: 12px 20px;
  border-radius: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  max-width: 95px;
  background-color:  #e2ecfd;
  transition: box-shadow 0.3s ease;
  gap: 6px;
  align-items: center;
}

.withdraw svg{
  font-size: 14px;
}

.withdraw::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color:  #d2e0f8; /* немного светлее для hover */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
  z-index: -1;
}

.withdraw:hover::before {
  opacity: 1;
}

.transferBtn{
  display: flex;

  border: none;
  color: #00439b;
  padding: 12px 20px;
  border-radius: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  cursor: pointer;

  max-width: 120px;
  background-color:  #e2ecfd;
  transition: 0.3s ease-in-out;
  gap: 6px;
  align-items: center;
}
.transferBtn:hover{

  background-color:  #d2e0f8; /* немного светлее для hover */
  
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
  
}

.transferBtn svg{
  font-size: 18px;
}

/* MENU */
.menuWrapper {
  position: relative;
  align-items: center;
}

.menuBtn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: #334155;
  cursor: pointer;
  transition: 0.25s;
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menuBtn:hover {
  background: #edecfd;
  color: #2c0596;
}
.menuBtn.active{
  background: #edecfd;
  color: #2c0596;
}

.menu {
  position: absolute;
  bottom: 45px;
  right: -15px;
  background: #ffffff;
  border-radius: 14px;
  padding: 3px;

  border-bottom-left-radius: 5px;
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(0,0,0,0.09);

  display: flex;
  flex-direction: column;
  gap: 3px;
  animation: fadeIn 0.25s ease;
}

.menu button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: #f8fafc;
  color: #334155;
  cursor: pointer;
  transition: 0.25s;
  text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0, 38, 255, 0.09);
}

.menu button:hover {
   background: #edecfd;
  color: #2c0596;
}

/* RESTORE */
.restore {
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  width: 100%;
  padding: 12px;
  border-radius: 40px;
  border: 1px solid #d1fae5;
  background: #ffffff;
  color: #044e78;
  cursor: pointer;
  transition: 0.25s;
}

.restore:hover {
  background: #ecfdf5;
  border-color: #6eade7;
}

/* CLOSED */
.closed {
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  filter: grayscale(0.6);
  background-color: #fcfcfc;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.refreshBtn,
.lockBtn
{
  position: absolute;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
     background: linear-gradient(135deg, #f9fcff, #f7f7f7); 
   
  transition: box-shadow 0.3s ease;
 color: #535353;
  cursor: pointer;
  transition: 0.25s;
right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.refreshBtn:hover,

.lockBtn:hover,
.editBtn:hover {
  background:  #dbeaff;
  color: #00439b;
}

.refreshBtn{
    top: 80px;
  
}

.lockBtn{
  top: 120px;
}

