.container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 20px 39px;
  padding: 20px 0;
  margin: 0 auto;
  justify-content: center;
}


.sortableItem {
  cursor: pointer;
  user-select: none;
  border-radius: 13px;
  
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sortableItem:hover {
  
 
}

.dragging {
  cursor: grabbing !important;
}

/* Адаптив */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
