

.nav {
  display: flex;
  gap: 15px;
}

.nav a, .nav button {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.nav button:hover, .nav a:hover {
  color: #3b82f6;
}
.header {
  height: 50px;
  background-color: #f7f7f7;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 20px;
  border-bottom: 1px solid #e5e7eb;
  flex-shrink: 0; /* чтобы не сжимался */
}

.nav span,
.nav a,
.nav button {
  margin-left: 15px;
}
