.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Inter, Roboto, sans-serif;
}

/* HEADER */
.header {
  
  align-items: center;
  gap: 10px;
}

.currency {
  font-size: 0.8rem;
  color: #64748b;
}

/* BALANCE */
.balanceCard {
  margin-top: 20px;
  padding: 24px;
  border-radius: 5px;
  background: #f9fafb;
  box-shadow: 0 5px 30px rgba(0,0,0,0.05);
}

.accountCard{
  background-color: #fff;
  border-radius: 5px;
  padding: 14px 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  width: 430px;
}
.balanceLabel {
  font-size: 0.75rem;
  color: #64748b;
  text-transform: uppercase;
}
.balanceValue {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0px 0 20px;
  display: flex;
  gap: 6px;
  align-items: center;
}
.actions {
  display: flex;
  gap: 10px;
}


.allTransactionsBtn{
    border-radius: 5px;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  background: #e6efff;
  color: #00439b;
  display: flex;
  align-items: center;

  font-size: 13px;
  font-weight: 500;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}
/* CONTENT */
.content {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  align-items: flex-start;
}

/* TRANSACTIONS CARD */
.txCard {
  width: 450px;
  background: #f9fafb;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}
.cardHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  padding: 5px 0;
  
}
.txTitle {
  
  font-size: 18px;
  font-weight: 600;
}
.txTitle span{
  font-size: 14px;
  color: #1f1f1f;
}
.txList {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* TRANSACTION MINI-CARD */
.txItem {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 5px;
  padding: 12px 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
  transition: transform 0.1s ease;
  align-items: center;
    transition: filter 0.2s ease;
  filter: brightness(1);
}
.txItem:hover {
  filter: brightness(0.97); 
  cursor: pointer;
}

.txLeft {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.txType {
  font-weight: 600;
  font-size: 1rem;
}
.txDate {
  font-size: 0.75rem;
  color: #6b7280;
}
.txAmount {
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.plus {
  color: #0fb400;
}
.minus {
  color: #960020;
}

/* EMPTY */
.empty {
  padding: 20px;
  text-align: center;
  color: #64748b;
}

/* RIGHT PLACEHOLDER */
.rightPlaceholder {
  flex: 1;
  min-height: 450px;
}
.accountTitle {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
  margin-bottom: 12px;
}

.headerLeft{
    display: flex;
  
  align-items: start;
  gap: 12px;
  margin-bottom: 12px;
}
.icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: linear-gradient(135deg, #d5d1fa, #ecf5fd);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15 );
}

.flag {
  font-size: 4rem;
  line-height: 1;
}

.title {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 600;
  color: #0f172a;
}

.currency {
  font-size: 0.75rem;
  color: #64748b;
}

.currencyIcon {
  font-size: 1.6rem;
  color: #111111;
  font-weight: 700;
    display: inline-block;   /* обязательно */
  vertical-align: baseline; /* или middle, baseline обычно лучше */
  width: auto;             /* чтобы не резать svg */
  margin: 0;               /* убедимся, что нет margin */
  line-height: 1;  
}

.amount {
  display: inline;
}

.minus {
  margin-right: 0;
}

.navHeader{
  background-color: #e5e8ec;
  border-radius: 3px;
  display: flex;
  align-items: center;
  
  justify-content: space-between;
}

.navHeader button{
  border: none;
  background: transparent;
  color: #384353;
  padding: 8px 20px;

  cursor: pointer;
  font-weight: 500;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}

.navHeader button:hover{
  background-color: #e4e3e3;
  
}

.navHeader button:active{
  background-color: #ffffff;
}


.navHeader button.activeTab {
  background-color: #ffffff; /* активная кнопка белая */
  color: #004db1;
  
}
.actions button {
border-radius: 8px;
  padding: 5px 5px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  
  cursor: pointer;
  background: transparent;
  color: #030303;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.3em;
  font-weight: 800;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}
.deposit{
border-radius: 8px;
  padding: 5px 6px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  
  cursor: pointer;
  background: transparent;
  color: #030303;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.3em;
  font-weight: 800;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}

.deposit svg{
  font-size: 0.8em;
}
.actions svg{
  font-size: 0.9em;
}

.cardBalanceButtons{
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-top: 30px;
  
  justify-content: center;
}
.statusAccount{
  font-size: 0.7em;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  border-radius: 30px;
  background-color: #64748b;
  padding: 4px 8px;
  font-weight: 600;
}

.activeStatus{
  background-color: #9bffd0;
  color: #017a42;
}

.closedStatus{
    background-color: #fc8d8d;
  color: #360000;
}

.flag {
  width: 48px;
  height: 48px;
  
  object-fit: cover;
}


.flagUs{
  
  height: 48px;
  
  
   position: relative;
  left: 10px;
}


.tabButton {
  border: none;
  background: transparent;
  color: #384353;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.tabButton:hover {
  background-color: #e5e8ec;
}

.tabButton:active {
  background-color: #ffffff;
}


.navBtn {
  border: none;
  background: transparent;
  color: #384353;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.8em;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;

  /* важно для <a> */
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.navBtn:hover {
  background-color: #f1f3f5;
  border-bottom: 3px solid #f1f3f5;
}

.navBtn:active {
  background-color: #ffffff;
  
}
.activeTab {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  border-bottom: 3px solid #ce9f05;
}

.activeTab::before{
  
}
