.layout {
  display: flex;
  flex-direction: column; /* Header сверху, контент под ним */
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Контент под Header */
.content {
  flex: 1;                 /* занимает всё пространство под Header */
  overflow: auto;           /* скролл, если контент больше экрана */
  padding: 20px;            /* отступы для контента */
       /* светлый фон для основной области */
}
