.overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

/* Модалка */
.modal {
  position: relative;
  width: 1000px; 
  max-width: 100%;
  padding: 36px 32px;
  background: rgba(255, 255, 255);
  background: blur(10px);
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15); 
  animation: fadeIn 0.25s ease;
  display: flex;
  top: -5vh;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}

/* Анимация */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Кнопка закрытия */
.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: #64748b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  z-index: 10;
}

.closeBtn:hover {
  background: #fee2e2;
  color: #dc2626;
}

/* Контент модалки */
.modalBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
}

.modalTitle {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1c1e22;
  margin-bottom: 14px;
}

.modalText {
  font-size: 1rem;
  color: #26272b;
  line-height: 1.6;
}

/* Форма */
.modalForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.label {
  width: 100%;
  text-align: left;
  margin-left: 15%;
  margin-top: 15px;
  font-weight: 600;
  font-size: 1rem;
  color: #21252c;
}

.input {
 
  width: 85%;
  padding: 14px 16px;
  border-radius: 14px;
  border: 1px solid #c2c8ff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif; /* современный жирный шрифт */
  letter-spacing: 0.5px; /* чуть увеличиваем читаемость */
  outline: none;
  transition: all 0.25s ease;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);
  color: #181818;
}

.input:focus {
  border-color: #00439b;
  box-shadow: 0 0 10px rgba(16, 61, 185, 0.3);
  background: #ffffff;
}


/* Футер */
.modalFooter {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 35px;
  width: 100%;
}

.btn {
  flex: 1;
  padding: 10px 10px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease;
  border: none;
  border-radius: 7px;
  
  
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}

.btnCancel {
  background: #ffffff;
  border: 1px solid #d2d1fa;
  color: #1c1d22;
  max-width: 90px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  font-weight: 500;
}

.btnCancel:hover {
  background: linear-gradient(135deg, #fdecec, #ffcccc);
  /* background: #fdecec; */
  border-color: #e76e6e;
}

.btnPrimary {
  
  border: none;
  color: #3e3e3e;
  padding: 12px 12px;
  width: 175px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Onest", sans-serif;
  cursor: pointer;
  border-radius: 15px;
  /* border: 1px solid #c1c3c6; */
border: 1px solid #ffe684;
  /* background-color: #ffffff; */
  background: linear-gradient(135deg, #fde249, #ffcc34);
}

.btnPrimary:hover{
  background-color: #ffe684;
   background: linear-gradient(135deg, #ffee8e, #ffcf41);
  transition: 0.2s ease-in;
  
}
.btnPrimary::before {
  content: "";
  
  
  /* background: linear-gradient(135deg, #3b79d6, #3700ff); */
  background-color: #004fb6;
  
  
  
  
}




input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* .inputSelectSmall{
    margin-bottom: 35px;
  width: 85%;
  padding: 14px 16px;
  border-radius: 30px;
  border: 1px solid #c2c8ff;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif; 
  letter-spacing: 0.5px; 
  outline: none;
  transition: all 0.25s ease;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);
  color: #181818;
  -moz-appearance: textfield;
    -webkit-appearance: none;
  margin: 0;
  
  max-height: 100px;
}
.inputSelectSmall:focus{
  border-color: #00439b;
  box-shadow: 0 0 10px rgba(16, 61, 185, 0.3);
  background: #ffffff;
} */

/* Обертка кастомного select */
.dropdownWrapper {
  width: 85%;
  position: relative;
  border-radius: 30px;
  padding: 6px 16px;
  border: 1px solid #c2c8ff;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);
  backdrop-filter: blur(6px);
  cursor: pointer;
  margin-bottom: 20px;
}

/*   margin-bottom: 35px;
  width: 85%;
  padding: 14px 16px;
  border-radius: 30px;
  border: 1px solid #c2c8ff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif; 
  letter-spacing: 0.5px; 
  outline: none;
  transition: all 0.25s ease;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);
  color: #181818; */

/* Выбранный элемент */
.dropdownSelected {
  display: flex;
  padding: 10px 14px;
  font-size: 1rem;
  font-weight: 700;
  color: #181818;
  user-select: none;
  justify-content: start;
}

/* Список опций */
.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 250px; /* 7 элементов */
  overflow-y: auto;
  margin-top: 4px;
  padding: 0;
  list-style: none;
  border-radius: 20px;
  background: rgba(255,255,255);
  backdrop-filter: blur(6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  z-index: 10;
  justify-content: start;
}

/* Элемент списка */
.dropdownItem {
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;

}
.dropdownItem span{
  color: #00439b;

}

.categoryGrid {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 2fr));
  gap: 15px;
  margin-bottom: 0px;
}

.categoryCard {
  display: flex;
  height: 110px;
  width: 110px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  padding: 6px;
  border-radius: 12px;
}


.categoryCard:hover:not(.active) {
  transform: translateY(-2px);
  background: rgba(0,0,0,0.03);
}

.active {
  background: rgba(154, 173, 235, 0.12);
  
}


.categoryIcon {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
}

.categoryName {
  margin-top: 6px;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  color: #1f2937;
}








/* затемнение */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* основная модалка */
.modal {
  position: relative;
  width: 650px;
  height: 720px;
  padding: 36px;
  background: white;
  border-radius: 24px;
  z-index: 2;
  box-shadow: 0 20px 60px rgba(0,0,0,0.2);
}

/* ВТОРАЯ МОДАЛКА-ВИДЖЕТ */
.categoryWidget {
  position: absolute;
  left: calc(50% + 330px); /* "вылетает" из модалки */
  top: calc(50% - 5%) ;
  transform: translateY(-50%) translateX(-30px) scale(0.95);
  width: 520px;
  height: 720px;
  padding: 0 10px;
      background: rgb(243 247 255 / 87%);
  border-radius: 24px;
     border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  opacity: 0;
  pointer-events: none;
    backdrop-filter: blur(5px);
  transition: 0.25s ease;
  z-index: 3;
  overflow: hidden;
}

/* открытие */
.openWidget {
  opacity: 1;
  transform: translateY(-50%) translateX(0) scale(1);
  pointer-events: all;
}

/* header */
.widgetHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-weight: 700;
}
.categoryGrid {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(4, 1fr); /* фиксируем ровную сетку */
  justify-items: center; /* центр карточек */
  align-items: center;

  gap: 18px;
  padding: 20px;
}

/* карточка */
.categoryCard {
  width: 100%;
  max-width: 110px;
  height: 120px;
  background-color: rgb(255, 255, 255, 0.77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 14px;
  transition: 0.2s;
  user-select: none;
}

.categoryCard:hover {
  transform: translateY(-2px);
}

.active {
  background: rgba(122, 140, 179, 0.15);
 
}

/* иконка */
.categoryIcon {
  width: 52px;
  height: 52px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

/* текст */
.category_name {
  margin-top: 6px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
}
.categoryGrid {
  grid-auto-rows: 130px;
}








.categorySelectRow {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 10px 12px;
  border-radius: 14px;

  border: 1px solid #c2c8ff;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);

  cursor: pointer;
  transition: 0.2s;
}

.categorySelectRow:hover {
  border-color: #2d5dfd;
  box-shadow: 0 0 10px rgba(45, 93, 253, 0.15);
}

/* левая кнопка */
.categorySelectBtn {
  font-weight: 700;
  font-size: 0.95rem;
  color: #1c1e22;

  padding: 6px 12px;
  border-radius: 14px;

  background: #eef2ff;
}

/* правая часть (выбранная категория) */
.categorySelectedPreview {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* иконка */
.previewIcon {
  width: 32px;
  height: 32px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 14px;
}

/* текст */
.previewText {
  font-size: 0.9rem;
  font-weight: 600;
  color: #1f2937;
}

/* если не выбрано */
.placeholder {
  font-size: 0.85rem;
  color: #94a3b8;
}

/* обертка input */
.amountWrapper {
  position: relative;
  width: 85%;
}

/* крестик */
.clearBtn {
  position: absolute;
  right: 10px;
  top: calc(50% - 5%) ;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  border: none;
  border-radius: 50%;

  background: #eef2ff;
  color: #64748b;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}

.clearBtn:hover {
  background: #fee2e2;
  color: #dc2626;
}

/* подсказки */
.amountHints {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: -20px;
  margin-bottom: 10px;
}

/* кнопка суммы */
.hint {
  padding: 6px 12px;
  border-radius: 10px;

  background: #f1f5ff;
  color: #5c6776;

  font-size: 0.9rem;
  font-weight: 700 !important;

  cursor: pointer;
  transition: 0.2s;
}
.hint span {
  font-weight: 700;
}

.hint:hover:not(.active){
  background: #e0e7ff;
}

/* активная */


.inputWrapper {
  position: relative;
  width: 85%; /* как был input */
}

/* сам input */
.inputWrapper .input {
  width: 100%;
  padding-right: 40px; /* место под крестик */
}

.clearBtn {
  position: absolute;
  right: 12px;
  top: calc(50%) ;
  transform: translateY(-50%);

  border: none;
  background: transparent;

  cursor: pointer;
  color: #94a3b8;
  background-color: #e7ebef;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  transition: 0.2s;
}

.clearBtn:hover {
  background: #fee2e2;
  color: #dc2626;
}

.amountHints {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}



.hint:hover {
  background: #f0f0f0;
  border-color: #ccc;
}


.hintAmount {
  font-weight: 500;
}

.hintCurrency {
  font-weight: 600;
  color: #555;
  margin-left: 2px;
}