/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(1px);
}

/* Модалка */
.modal {
  position: relative;
  width: 700px; 
  max-width: 100%;
  padding: 36px 32px;
  background: rgba(255, 255, 255);
  background: blur(10px);
  border-radius: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15); 
  animation: fadeIn 0.25s ease;
  display: flex;
  top: -5vh;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}

/* Анимация */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Кнопка закрытия */
.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: #64748b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  z-index: 10;
}

.closeBtn:hover {
  background: #fee2e2;
  color: #dc2626;
}

/* Контент модалки */
.modalBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
}

.modalTitle {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1c1e22;
  margin-bottom: 14px;
}

.modalText {
  font-size: 1rem;
  color: #26272b;
  line-height: 1.6;
}

/* Форма */
.modalForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.label {
  width: 100%;
  text-align: left;
  margin-left: 15%;
  margin-top: 15px;
  font-weight: 600;
  font-size: 1rem;
  color: #21252c;
}

.input {
  margin-bottom: 35px;
  width: 85%;
  padding: 14px 16px;
  border-radius: 30px;
  border: 1px solid #c2c8ff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif; /* современный жирный шрифт */
  letter-spacing: 0.5px; /* чуть увеличиваем читаемость */
  outline: none;
  transition: all 0.25s ease;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);
  color: #181818;
}

.input:focus {
  border-color: #00439b;
  box-shadow: 0 0 10px rgba(16, 61, 185, 0.3);
  background: #ffffff;
}


/* Футер */
.modalFooter {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  width: 100%;
}

.btn {
  flex: 1;
  padding: 10px 10px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease;
  border: none;
  border-radius: 22px;
  
  
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
}

.btnCancel {
  background: #ffffff;
  border: 1px solid #d2d1fa;
  color: #1c1d22;
  max-width: 90px;
}

.btnCancel:hover {
  background: linear-gradient(135deg, #fdecec, #ffcccc);
  /* background: #fdecec; */
  border-color: #e76e6e;
}

.btnPrimary {
  
  border: none;
  color: #ffffff;
  padding: 12px 12px;
  max-width: 125px;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  cursor: pointer;
  
  

  background-color: #2d5dfd;
  
}

.btnPrimary::before {
  content: "";
  
  
  /* background: linear-gradient(135deg, #3b79d6, #3700ff); */
  background-color: #004fb6;
  
  
  
  
}




input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* .inputSelectSmall{
    margin-bottom: 35px;
  width: 85%;
  padding: 14px 16px;
  border-radius: 30px;
  border: 1px solid #c2c8ff;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif; 
  letter-spacing: 0.5px; 
  outline: none;
  transition: all 0.25s ease;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);
  color: #181818;
  -moz-appearance: textfield;
    -webkit-appearance: none;
  margin: 0;
  
  max-height: 100px;
}
.inputSelectSmall:focus{
  border-color: #00439b;
  box-shadow: 0 0 10px rgba(16, 61, 185, 0.3);
  background: #ffffff;
} */

/* Обертка кастомного select */
.dropdownWrapper {
  width: 85%;
  position: relative;
  border-radius: 30px;
  padding: 6px 16px;
  border: 1px solid #c2c8ff;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);
  backdrop-filter: blur(6px);
  cursor: pointer;
  margin-bottom: 20px;
}

/*   margin-bottom: 35px;
  width: 85%;
  padding: 14px 16px;
  border-radius: 30px;
  border: 1px solid #c2c8ff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif; 
  letter-spacing: 0.5px; 
  outline: none;
  transition: all 0.25s ease;
  background: linear-gradient(135deg, #fcfcff, #f9fcff);
  color: #181818; */

/* Выбранный элемент */
.dropdownSelected {
  display: flex;
  padding: 10px 14px;
  font-size: 1rem;
  font-weight: 700;
  color: #181818;
  user-select: none;
  justify-content: start;
}

/* Список опций */
.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 250px; /* 7 элементов */
  overflow-y: auto;
  margin-top: 4px;
  padding: 0;
  list-style: none;
  border-radius: 20px;
  background: rgba(255,255,255);
  backdrop-filter: blur(6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  z-index: 10;
  justify-content: start;
}

/* Элемент списка */
.dropdownItem {
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;

}
.dropdownItem span{
  color: #00439b;

}

.dropdownItem:hover {
  background: rgba(0,67,155,0.08);
}
