:root {
  --white: #fff;
  --light-bg: #ebebeb;
  --dark-gray: #515357;
  --black: #000000;
  --gold: #fbbf24;
}

.sideMenu {
  background: var(--white);
  border-radius: 20px;
  padding: 30px 0;
  height: calc(100vh - 40px);
  position: sticky;
  top: 20px;
  overflow-y: auto;
  width: 300px;
  margin-inline: 10px;
}

.menuTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 20px;
  padding-right: 74px;
}

.menuTitle span {
  padding-left: 20px;
}

.infoAvatarMenu {
  font-size: 1.1rem;
  color: var(--dark-gray);
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark-gray);
  position: relative;
  transition: all 0.2s;
  border-radius: 13px;
  margin-bottom: 10px;
}

.menuItem:hover {
  background: var(--light-bg);
  color: var(--black);
}

.menuItem.active {
  color: var(--black);
  font-weight: 600;
  background: var(--light-bg);
  
}



.menuItem svg {
  margin-right: 10px;
  width: 28px;
  text-align: center;
  font-size: 1.1rem;
  color: #868a91;
}
