.sidebar {
  width: 300px;
  
  position: sticky;
  top: 20px;
 
  background: #ffffff;

  padding: 24px 18px;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  border-right: 1px solid rgba(0,0,0,0.13);
  /* box-shadow:
    0 10px 30px rgba(0,0,0,0.05),
    inset 0 1px 0 rgba(255,255,255,0.6); */
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* LOGO */

.logoBlock {
  padding: 12px 16px 18px;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

.logo {
  font-size: 1.35rem;
  font-weight: 700;
  color: #022c22;
  letter-spacing: 0.02em;
}

.subtitle {
  font-size: 0.75rem;
  color: #64748b;
  margin-top: 2px;
}

/* MENU */

.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: auto;
  padding-right: 4px;
}

/* ITEM */

.item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  border-radius: 5px;

  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;

  color: #334155;
  background: transparent;

  transition: background 0.25s ease, color 0.25s ease;
  position: relative;
}

.item.active::before {
  content: "";
  position: absolute;
  left: 0;                 /* слева */
  top: 50%;                /* середина родителя */
  transform: translateY(-50%); /* сдвигаем вверх на половину своей высоты */
  width: 4px;
  height: 50%;             /* длина линии */
  background-color: #0051ff;
  border-radius: 2px;
}
.item svg {
  font-size: 1.1rem;
  color: #64748b;
}

/* HOVER */

.item:hover {
  background: linear-gradient(135deg, #edebff, #e3eeff);
  color: #00439b;
}

.item:hover svg {
  color: #00439b;
}

/* ACTIVE */

.active {
 background: linear-gradient(135deg, #edebff, #e3eeff);
  color: #00439b;
  font-weight: 600;
  
  
}

.active svg {
  color: #00439b;
}

/* SCROLL */

.menu::-webkit-scrollbar {
  width: 6px;
}

.menu::-webkit-scrollbar-thumb {
  background: #d1fae5;
  border-radius: 10px;
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}
